
<div *ngIf="issLoading" class="overlay">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<div  id='Topdiv'></div>
<div  id='Bottomdiv'></div>
<div class="main-content"  >

    <div class="container-fluid">
        <div class="row" *ngIf="Entry_View">
        
        </div>
        </div>

<div class="row dash_big_screen mt-3" *ngIf="!Entry_View" >

    <div class="col-md-12 pl-3 pr-8 " style="border: 1" *ngIf="isDesktopMenu()">
        <span style="font-size: 30px;   background: -webkit-linear-gradient(rgba(246, 142, 244, 1), rgba(164, 97, 242, 1),rgba(29, 0, 57, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  font-family: Nunito, sans-serif; font-weight: 700; ">Student Payment </span>
    <div class="dt-card mb-0 pb-1 mt-1" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 15px;"  >        
    <div class="dt-card__body">
    <div class="mb-0" >          
    <div class="form-row" >
        <!-- <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Date</label>  
        <div class="col-md-0 col-sm-0 mb-1">
        <div _ngcontent-xmy-c9="" class="checkbox-to-crect-sales-search-section">
        <div _ngcontent-xmy-c9="" class="form-check uper-dte-lbel-sales-sctn-new pl-0" >
        <label _ngcontent-xmy-c9="" class="form-check-label">
        <input type='checkbox' class="form-check-input" name="Date_checks" [(ngModel)]="Look_In_Date"   />
        <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top: 3px;"><span _ngcontent-xmy-c9="" class="check">
        </span>
        </span>
        </label>
        </div>
        </div>  
        </div>      -->
    
        <!-- <label class="col-md-0 col-sm-0 col-form-label text-sm-right">From</label>
        <div class="col-md-2 col-sm-2 mb-1">
        <input type="date" class="form-control p-0 pl-1" placeholder="From"[(ngModel)]="Search_FromDate" name="FromDate_" >
        </div>  
        <label class="col-md-0 col-sm-0 col-form-label text-sm-right">To</label>
        <div class="col-md-2 col-sm-3 mb-1">
        <input type="date" class="form-control p-0 pl-1" placeholder="To"  [(ngModel)]="Search_ToDate" name="ToDate_">
        </div> -->
        <div  style="position: relative; display: inline-block;">
 <input
              type="text"
              [(ngModel)]="Search_Name"
              class="search_icon"
              placeholder="Search Student..."
              
              style="
                width: 437px;
                height: 38px;
                gap: 4px;
                border-radius:20px;
                border: 1px solid rgba(194, 201, 208, 1);
                padding-left: 40px;
              "
            />
            <img
              src="../../../../tvm_admin_assets/img/search_icon.png"
              (click)="Search_Student_Payment()"
              alt="Search"
              style="
                position: absolute;
                top: 50%;
                left: 21px;
                transform: translateY(-50%);
                cursor: pointer;
              "
            />
          </div>
        <!-- <label class="col-md-0 col-sm-0 col-form-label text-sm-right pt-1">Student</label> -->
        <!-- <div class="col-md-2 col-sm-3 mb-1 ml-0">
        <input type="text" [(ngModel)]="Search_Name" name="Search_Name" class="form-control" placeholder=" ">
        </div> -->
        <!-- <label class="col-md-0 col-sm-0 col-form-label text-sm-right">SKP</label>
        <div class="col-md-2 col-sm-2 mb-1">
        <input type="text"  class="form-control"  id="Agent_" name="Agent_"  [matAutocomplete]="auto_Agent"
        [(ngModel)]="Agent_" (click)="Search_Agent_Typeahead($event)" /></div>  
        <mat-autocomplete #auto_Agent="matAutocomplete" [displayWith]="display_Agent">
            <mat-option *ngIf="issLoading"><mat-spinner diameter="500"></mat-spinner></mat-option>
            <ng-container *ngIf="!issLoading">
            <mat-option *ngFor="let Agent_ of Agent_Data" [value]="Agent_">
            <span>{{Agent_.Agent_Name}}</span>
            </mat-option>
            </ng-container>
        </mat-autocomplete>   -->
        <div class="col-md-0 col-sm-0">  
      
        <button class="save-button-style btnflot " style="    height: 36px;
        background-color: #e1930b !important;
        border-radius: 14px !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;"  id="Save_Button" (click)="Payment_Gateway()" type="submit">Pay Amount</button>    
          <button (click)="Search_Student_Payment()" mat-raised-button type="submit"  class="other-button-style btnflot pull-left mr-1 " style="text-transform: capitalize;   border-radius: 14px !important;
              background: #4c8aa9  !important;">Search</button>
    </div>
    </div>
    </div>
    </div>
    </div>        
    </div>

    <div class="col-md-12 pl-3 pr-8 mt-2" style="border: 1" *ngIf="isDesktopMenu()">
    <div class="dt-card mb-0 pb-2"style="background-color: white; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 15px;" >  

    <div class="card-body card-body-for-searchedit-lead-section">
    <div class="table-responsive">
    <!-- <table class="table table-hover colour-change-title-searchsection-table heading-styles-as-gmail-format" style="width: 130% !important;"> -->
    <table class="table table-hover table-for-sale-search-section-diary" style=" font-family: Nunito, sans-serif;">
    <thead>  
        <!-- <th >Select</th>   -->

        <th class="mb-1 crect-margin-width-table-header-title ">
          
            
              <div _ngcontent-xmy-c9="" class="col-md-2 form-check">
                  <label _ngcontent-xmy-c9="" class="form-check-label">
                  <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                  [(ngModel)]="Select_Student" (click)="Student_View_Click()" type="checkbox" name="Select_View"
                  [checked]="Select_View_Check" value="">
                  <span _ngcontent-xmy-c9="" class="form-check-sign">
                  <span _ngcontent-xmy-c9="" class="check mt-3"></span>
                  </span>
                  </label>
                  </div>   
          
            </th>

    <th >Student</th>  
    <th >Mobile</th>    
    <th >Course</th>    
    <th >Amount</th>    
    </thead>
    <tbody  *ngFor="let Student_Verified_Details of Student_Verified_Details_Data; let i = index" >
    <tr>
        <!-- <td  class="td-padding">{{Student_Verified_Details["Entry_Date"]}}</td> -->
        <td class="crect-margin-width-table-header-title">
            <div _ngcontent-xmy-c9="" class="form-check">
                <label _ngcontent-xmy-c9="" class="form-check-label">
                <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                [(ngModel)]="Student_Verified_Details.Check_Box_View"  type="checkbox" name="{{Student_Verified_Details.Student_Id}}"
                [checked]="Student_Verified_Details.Check_Box_View" value="">
                <span _ngcontent-xmy-c9="" class="form-check-sign">
                <span _ngcontent-xmy-c9="" class="check mt-2"></span>
                </span>
                </label>
                </div>
        
        </td>
    <td  class="td-padding" style = "font-weight: 500;font-size: 14px;">{{Student_Verified_Details["Student_Name"]}}</td>
    <td  class="td-padding" style = "font-weight: 500;font-size: 14px;">{{Student_Verified_Details["Mobile"]}}</td>
    <td  class="td-padding" style = "font-weight: 500;font-size: 14px;">{{Student_Verified_Details["Course_Name"]}}</td>
    <td  class="td-padding" style = "font-weight: 500;font-size: 14px;">{{Student_Verified_Details["Registration_Fees"]}}</td>
    </tr>
    </tbody>
    </table>

    </div>
        <label class="entry-num">Entries : {{Total_Entries}}</label> 
    </div>
    </div>
    </div>
   
</div>

</div>

