<div *ngIf="issLoading" class="overlay">
<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
</mat-progress-spinner>
</div>
<div class="main-content">
<div class="container-fluid">
<div class="container" *ngIf="Entry_View">
    
    
   
    <div class="col-md-12 mt-2 pl-0">
        <div class="dt-card mb-0 pb-1">         
            <div class="dt-card__body mt-1 mb-0 pb-0">
                <form class="mb-0">           
                <div class="form-row" style="padding-left: 10px;">
                    <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Fees Type<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                    <div class="col-md-3 col-sm-3 mb-2">
                        <input type="text" class="form-control"  [(ngModel)]="Fees_Type_.Fees_Type_Name" name="Fees_Type_.Fees_Type_Name"  placeholder="">
                       
                    </div>
                    
                    <div class="col-md-2 col-sm-2 mt-0" > 
                        <button (click)="Close_Click()" mat-raised-button type="submit" class="close-button-style pull-left mr-1 ">Close</button>                   
                         <button (click)="Save_Fees_Type()" [hidden]="Fees_Type_Save==false"id="Save_Button" mat-raised-button type="submit" class="save-button-style pull-left mr-1">Save</button>                      
                        </div>
                </div>
            </form>
            </div>
        </div>        
      </div> 

</div>
<div class="container" *ngIf="!Entry_View">
  
   
   
    <div class="col-md-12 pl-0  mt-2 mb-2">
        <div class="dt-card mb-2 pb-1">         
            <div class="dt-card__body mt-1 mb-0 pb-0">
                <form class="mb-0">           
                <div class="form-row" style="padding-left: 10px;">
                    <label class="col-md-0 col-sm-0 col-form-label text-sm-right mr-0">Fees Type</label>
                
                    <div class="col-md-3 col-sm-3 mb-2">  
                        <input type="text" class="form-control" [(ngModel)]="Fees_Type_Name_Search" name="Fees_Type_Name_Search" placeholder="">
                      
                    </div>
                    
                    <div class="col-md-2 col-sm-2 mt-0" style="display: flex; padding: 0px;">                    
                         <button (click)="Search_Fees_Type()" mat-raised-button type="submit" class="other-button-style pull-left mr-1">Search</button>
                         <button  (click)="Create_New()"   mat-raised-button type="submit"  class="save-button-style pull-left mr-1 ">Create New</button>
    
                        </div>
                </div>
            </form>
            </div>
        </div>        
      </div>



    <!-- <div class="col-md-12">
        <div class="card card-plain">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover">
        <thead class="thead">
        <th>Sl No</th>
        <th>Fees Type </th>
        <th [hidden]="Fees_Type_Edit==false">View</th>
        <th [hidden]="Fees_Type_Delete==false">Delete</th>
        </thead>
        <tr *ngFor="let Fees_Type1 of Fees_Type_Data; let i = index">
        <td class="td-padding" style="padding-left:5px;">{{ i+1 }}</td>
        <td class="td-padding">{{Fees_Type1["Fees_Type_Name"]}}</td>
        <td class="td-padding">
        <button _ngcontent-jry-c5="" _ngcontent-gxp-c5="" [hidden]="Fees_Type_Edit==false"aria-describedby="cdk-describedby-message-0"
        cdk-describedby-host="" class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button=""
         mattooltip="Edit Task" ng-reflect-message="Edit Task" ng-reflect-position="above" type="button"><span class="mat-button-wrapper">
             <span _ngcontent-jry-c5="" class="mat-button-wrapper"><i _ngcontent-jry-c5="" _ngcontent-gxp-c5="" class="material-icons" 
                (click)="Edit_Fees_Type(Fees_Type1,i)" >edit</i></span><div _ngcontent-jry-c5="" class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div _ngcontent-jry-c5="" class="mat-button-focus-overlay"></div></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay" ></div></button>
        </td>
        <td class="td-padding"> 
        <button _ngcontent-gdi-c11="" [hidden]="Fees_Type_Delete==false"class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button"
         mat-raised-button="" mattooltip="Remove" type="button" aria-describedby="cdk-describedby-message-1"
          cdk-describedby-host="" ng-reflect-position="above" ng-reflect-message="Remove">
          <span class="mat-button-wrapper"><i _ngcontent-gdi-c11="" class="material-icons"  (click)="Delete_Fees_Type(Fees_Type1.Fees_Type_Id,i)" >close</i></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"  ></div></button>
        </td> 
        </tr>
        </table>
        </div>  
        </div>      
    </div>
    <label class="entry-num">Entries : {{Total_Entries}}</label>
    </div> -->


    <div class="col-md-12 pl-0 mt-0" >
        <div class="dt-module ">            
            <div class="dt-module__container">
                <div class="dt-module__content ps-custom-scrollbar">
                    <div class="dt-module__content-inner pl-0 pr-0">   
                        <div class="dt-module__list pl-0 pr-0" >
                            <div class="card-body set-height-scroll-bar-wole-block" >
                         
                            <div class="dt-module__list-item pb-2 pt-2"  *ngFor="let Fees_Type1 of Fees_Type_Data; let i = index"> 
                                <div class="dt-module__list-item-content">
                                    <div class="user-detail">
    
                                        <span class="icon-background2 mr-1" [hidden]="Fees_Type_Edit==false"    (click)="Edit_Fees_Type(Fees_Type1,i)" > <mat-icon class="text-green small" >edit</mat-icon></span>
                                        <span class="icon-background3 mr-1" [hidden]="Fees_Type_Delete==false"    (click)="Delete_Fees_Type(Fees_Type1.Fees_Type_Id,i)" > <mat-icon class="text-red small" >close</mat-icon></span>
                                        
                                        <span class="user-name">{{Fees_Type1["Fees_Type_Name"]}}</span>
                            
                                    </div>
                             
                                </div>                                
                            </div>
                    
                        </div>
                    </div>
                  
                </div>
             
            </div>
           
          </div>
      </div> 

      <label class="entry-num">Entries : {{Total_Entries}}</label>
</div>
</div>
